In [ ]:
#list membership:checks if a value exists in a list(True/False)

# List Membership

In [12]:
l=[20,30,40,50,60,70,80]
l

[20, 30, 40, 50, 60, 70, 80]

In [13]:
30 in l

True

In [14]:
1000 in l

False

In [15]:
for i in l: #using tab function
    print(i)

20
30
40
50
60
70
80

In [16]:
for i in enumerate(l): #enumerate function :loop through a list with index and value at the same time
    print(i)

(0, 20)
(1, 30)
(2, 40)
(3, 50)
(4, 60)
(5, 70)
(6, 80)

In [49]:
12=['9','True','9.3']
12

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1476773161.py, line 1)

In [29]:
print(12)
print(l)

12
[20, 30, 40, 50, 60, 70, 80]

In [37]:
l.sort
l

[20, 30, 40, 50, 60, 70, 80]

In [38]:
l.sort(reverse=True)
l

[80, 70, 60, 50, 40, 30, 20]

In [ ]:
#the sort functions work when we have similar data tyepes
#in mix datatypes sort() function does not work

In [47]:
12.reverse()
12

SyntaxError: invalid decimal literal (3008021529.py, line 1)

In [51]:
all(l) #True - If all elements in a list are true 
#False - If any element in a list is false

True

In [52]:
any(l) #The any() function returns True if any element in the list is True. If not, any() returns False

True

In [54]:
L1 = [1,2,3,0] #Will Return false as one value is false (Value 0)

In [56]:
all(L1)

False

In [57]:
any(L1) # Will Return True as we have items in the list with True value

True

# TUPLE

In [58]:
t=()

In [59]:
t

()

In [60]:
type(t)

tuple

In [61]:
t1=(1,2,3,6)
t1

(1, 2, 3, 6)

In [64]:
t1.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [65]:
t1.remove(2)

AttributeError: 'tuple' object has no attribute 'remove'