# sets

In [1]:
s = {} #set is unordered,unindexed
s

{}

In [2]:
type(s)

dict

In [3]:
s1 = set()
s1

set()

In [4]:
s1.add(25)
s1

{25}

In [5]:
s1.add(25,60)

TypeError: set.add() takes exactly one argument (2 given)

In [6]:
s1.add(20)
s1.add(100)
s1.add(56)
s1

{20, 25, 56, 100}

In [7]:
s1.add(20)
s1

{20, 25, 56, 100}

In [8]:
ramyaset = {100,500,300} #set of numbers
ramyaset

{100, 300, 500}

In [9]:
len(ramyaset) #length of numbers

3

In [10]:
ramya_set={100,100,500,500,300,300}#Duplicate items are not allowed
ramya_set

{100, 300, 500}

In [11]:
naset = {8.65,7.34,7.65}
naset

{7.34, 7.65, 8.65}

In [12]:
set3 = {'ram','shyam','jam'} #set of strings
set3

{'jam', 'ram', 'shyam'}

In [13]:
mixed={11,2,'ramya',(3,4,5)} #mixed of datatypes
mixed

{(3, 4, 5), 11, 2, 'ramya'}

In [14]:
myset={1,2,'ramya',[66,47,89]} #set doesn't allow mutable items like list.
myset

TypeError: unhashable type: 'list'

# loop through set

In [15]:
myset = {'one','two','three'}
for i in myset:
    print(i)

two
three
one

In [16]:
for i in enumerate(myset): #index
    print(i)

(0, 'two')
(1, 'three')
(2, 'one')

# Set Membership

In [17]:
myset

{'one', 'three', 'two'}

In [18]:
'two' in myset

True

In [19]:
'five' in myset

False

In [20]:
if 'ten' in myset:
    print('ten is present in myset')
else:
    print('ten is not present in myset')

ten is not present in myset

# Add & Remove items

In [21]:
myset

{'one', 'three', 'two'}

In [22]:
myset.add ('four') #adding the value
myset

{'four', 'one', 'three', 'two'}

In [23]:
myset.update(['ten','nine','five'])
myset

{'five', 'four', 'nine', 'one', 'ten', 'three', 'two'}

In [24]:
myset.remove('nine')
myset

{'five', 'four', 'one', 'ten', 'three', 'two'}

In [25]:
myset.discard('ten')
myset

{'five', 'four', 'one', 'three', 'two'}

In [26]:
myset.clear()

In [27]:
myset

set()

In [28]:
del myset
myset

NameError: name 'myset' is not defined

# Copy Set

In [2]:
myset={'one','two','three','five','six'}
myset

{'five', 'one', 'six', 'three', 'two'}

In [4]:
set1=myset.copy()
set1

{'five', 'one', 'six', 'three', 'two'}

In [5]:
id(myset), id(set1)

(2140841521248, 2140841524608)

In [11]:
myset=myset.copy()
myset

NameError: name 'myset' is not defined

# Set Operation

In [6]:
A={1,2,3} #union operation(all the values in a|b)
B={1,4,3}
C={5,9,3,5}
A|B|C

{1, 2, 3, 4, 5, 9}

In [7]:
A.union(B,C)

{1, 2, 3, 4, 5, 9}

In [9]:
A.update(B,C)

In [10]:
A

{1, 2, 3, 4, 5, 9}

# Intersection

In [14]:
A={1,6,3,5}
B={7,2,5,3}
A-B

{1, 6}

In [15]:
A.difference(B)

{1, 6}

In [16]:
B - A

{2, 7}

# Symmetric difference

In [17]:
A={1,2,4,6,7}
B={1,2,0,9,5}
A^B

{0, 4, 5, 6, 7, 9}

In [18]:
A.symmetric_difference(B)

{0, 4, 5, 6, 7, 9}

In [21]:
A.symmetric_difference_update(B)

In [22]:
A

{1, 2, 4, 6, 7}

# subset,super set,disjoint set

In [26]:
a={1,6,5,9} #all elements of a are in b
b={5,7,9,4}
b.issubset(a)

False

In [33]:
b.issuperset(a) #if it contains all elements of a

False

In [32]:
a.isdisjoint(b) #no elements are common

False

In [34]:
a

{1, 5, 6, 9}

In [35]:
sum(a)

21

In [36]:
len(a)

4

In [37]:
list(enumerate(a)) #adds counter indexto each item in list

[(0, 1), (1, 5), (2, 6), (3, 9)]

In [44]:
D = sorted(a,reverse=True)#sort-asending,descending order
D

[9, 6, 5, 1]

In [45]:
sorted(D)

[1, 5, 6, 9]

# Dictionary

#### create dictionary #is a collection of KEY-VALUES

In [49]:
my_dict={}
my_dict

{}

In [53]:
my_dict={1:'one',2:'two',3:'three'}
my_dict

{1: 'one', 2: 'two', 3: 'three'}

In [55]:
my_dict.keys()

dict_keys([1, 2, 3])

In [56]:
my_dict.values()

dict_values(['one', 'two', 'three'])

In [58]:
my_dict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [12]:
my_dict = {1: 'one',2:'two','A':['rat','mat','cat']}
my_dict

{1: 'one', 2: 'two', 'A': ['rat', 'mat', 'cat']}

In [4]:
my_dict={1:'one', 2:'two', 'A':{'Name':'RAMYA','Age':20}, 'B':('JIM','jam','cream')}
my_dict

{1: 'one',
 2: 'two',
 'A': {'Name': 'RAMYA', 'Age': 20},
 'B': ('JIM', 'jam', 'cream')}

In [1]:
keys={'egg','boil','in','water'}
mydict1=dict.fromkeys(keys)
mydict1

{'boil': None, 'in': None, 'egg': None, 'water': None}

In [6]:
keys={'egg','boil','in','water'}
values=[14,20]
mydict1=dict.fromkeys(keys,values)
mydict1

{'water': [14, 20], 'egg': [14, 20], 'boil': [14, 20], 'in': [14, 20]}

In [2]:
keys={'egg','boil','in','water'}
values=[14,29,400]
mydict1=dict.fromkeys(keys,values)
mydict1

{'water': [14, 29, 400],
 'egg': [14, 29, 400],
 'boil': [14, 29, 400],
 'in': [14, 29, 400]}

In [8]:
values.append(40)
mydict1

{'water': [14, 20, 40],
 'egg': [14, 20, 40],
 'boil': [14, 20, 40],
 'in': [14, 20, 40]}

# Accessing Items

In [10]:
my_dict={1:'one',2:'two',3:'three'}
my_dict

{1: 'one', 2: 'two', 3: 'three'}

In [11]:
my_dict={1:'one',2:'two',3:'three'}
my_dict[1]

'one'

In [23]:
my_dict = {'Name': 'RAMYA','Age': 20, 'goal' : 'get job'}
my_dict

{'Name': 'RAMYA', 'Age': 20, 'goal': 'get job'}

In [25]:
my_dict['Name']

'RAMYA'

In [26]:
my_dict = 'name'
my_dict

'name'

In [27]:
my_dict = {'Name': 'RAMYA','Age': 20, 'goal' : 'get job'}
my_dict

{'Name': 'RAMYA', 'Age': 20, 'goal': 'get job'}

In [29]:
my_dict['goal']

'get job'

# Add,remove & change items

In [15]:
my_dict = {'history':'ancient,medieval,modern','polity':'constitution','economy':'money','geo':'earth' }
my_dict

{'history': 'ancient,medieval,modern',
 'polity': 'constitution',
 'economy': 'money',
 'geo': 'earth'}

In [9]:
my_dict['geo'] = 'atm' #adding new item in place of old
my_dict

{'history': 'ancient,medieval,modern',
 'polity': 'constitution',
 'economy': 'money',
 'geo': 'atm'}

In [10]:
dict1 = {'polity': 'party'}
my_dict.update(dict1)
my_dict

{'history': 'ancient,medieval,modern',
 'polity': 'party',
 'economy': 'money',
 'geo': 'atm'}

In [11]:
my_dict['economy'] ='money'
my_dict

{'history': 'ancient,medieval,modern',
 'polity': 'party',
 'economy': 'money',
 'geo': 'atm'}

In [12]:
my_dict.pop('economy')
my_dict

{'history': 'ancient,medieval,modern', 'polity': 'party', 'geo': 'atm'}

In [22]:
my_dict.popitem()
my_dict

{'history': 'ancient,medieval,modern'}

In [20]:
del[my_dict['economy']]
my_dict

{'history': 'ancient,medieval,modern', 'polity': 'constitution'}

# copy Dictionary

In [1]:
mydict = {'Name': 'RAMYA','Age':25,'role':'python developer'}

In [2]:
mydict

{'Name': 'RAMYA', 'Age': 25, 'role': 'python developer'}

In [3]:
mydict1 = mydict

In [6]:
id(mydict), id(mydict1)

(1259345671040, 1259345671040)

In [7]:
mydict2=mydict.copy()
mydict2

{'Name': 'RAMYA', 'Age': 25, 'role': 'python developer'}

In [11]:
mydict ['role'] = 'data analyst'
mydict

{'Name': 'RAMYA', 'Age': 25, 'role': 'data analyst'}

In [12]:
mydict1

{'Name': 'RAMYA', 'Age': 25, 'role': 'data analyst'}

In [13]:
mydict2

{'Name': 'RAMYA', 'Age': 25, 'role': 'python developer'}

# Loop through a Dictionary

In [18]:
enhlishdict = {'Name':'RAMYA BOINAPALLI','working':'no','age':25,'address':'suryapet','ph.no':1234567891,'dob':5-8-2000}
englishdict

{'Name': 'RAMYA BOINAPALLI',
 'working': 'no',
 'age': '25',
 'address': 'suryapet',
 'ph.no': '1234567891',
 'dob': '5-8-2000'}

In [19]:
for i in englishdict:
    print(i,':' , englishdict[i])

Name : RAMYA BOINAPALLI
working : no
age : 25
address : suryapet
ph.no : 1234567891
dob : 5-8-2000

In [20]:
for i in englishdict:
    print(englishdict[i])

RAMYA BOINAPALLI
no
25
suryapet
1234567891
5-8-2000

# Dictionary Membership

In [21]:
mydict = {'name':'samsung','tenure':8,'model':2000,'made in':'india'}
mydict #if a key exists in a dictionary using the keywords in or not in.

{'name': 'samsung', 'tenure': 8, 'model': 2000, 'made in': 'india'}

In [22]:
'tenure' in mydict

True

In [23]:
8 in mydict

False

# All/Any

In [28]:
mydict

{'name': 'samsung', 'tenure': 8, 'model': 2000, 'made in': 'india'}

In [29]:
all(mydict) # Returns True only if all elements are True

True

In [30]:
any('model') #Returns True if at least one element is True

True