In [1]:
int(2.3)  #1st form                     #type casting/type conversion float to int

2

In [2]:
int(2.3, 4.5) #int() can't convert non-string with explicit base
#int has 2forms:1-convert float to int,2-convert string in a specfic base to integer

TypeError: 'float' object cannot be interpreted as an integer

In [1]:
int("10", 2)

2

In [3]:
int(True)

1

In [1]:
int(False)

0

In [4]:
int(True,False) #2aruguments so invalid

TypeError: int() can't convert non-string with explicit base

In [3]:
print(int(2.3)) #float - int
print(int(True) ) # bool - int
print(int('10')) #string - int

2
1
10

In [9]:
print(int(1+2j))  #complex to int not possiable

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [7]:
int('one')

ValueError: invalid literal for int() with base 10: 'one'

In [4]:
int('1')

1

In [5]:
print(float(2))

2.0

In [6]:
print(float(False))

0.0

In [7]:

print(float(3 + 2j))

TypeError: float() argument must be a string or a real number, not 'complex'

In [9]:

print(float('two'))

ValueError: could not convert string to float: 'two'

In [10]:
print(float('2'))

2.0

In [11]:
complex(10)

(10+0j)

In [12]:
complex(10,20)

(10+20j)

In [13]:
complex(10,20,30) #aruguments i passed

TypeError: complex() takes at most 2 arguments (3 given)

In [14]:
complex(2.3,5)

(2.3+5j)

In [15]:
complex(5, 2.3)

(5+2.3j)

In [16]:
complex(False, False) #0+0j

0j

In [17]:
complex('1',25) #can't mix string with number

TypeError: complex() can't take second arg if first is a string

In [19]:
complex('1')

(1+0j)

print(bool(1))
print(bool(1.2))
print(bool(1+5j))
print(bool('RAMYA'))

In [20]:
bool()

False

In [21]:
bool(1)

True

In [22]:
bool(@)

SyntaxError: invalid syntax (3759618562.py, line 1)

str(2.2)

str(True)